@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    overflow-x: hidden;
}
body {
    width: auto;
    min-height: 100vh;
    position: relative;
    padding-bottom: 0%; /* Ensure footer height */
    background-color: rgba(244, 251, 114, 0.377);
    /* 横方向のオーバーフローを非表示にする */
    overflow-x: hidden;
}

h1, h2, h3, li {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1{
    text-align: center;
    position: relative;
    //中央寄せ
    margin: 0 auto;
    
}

h2{
    font-size: 2rem;
    //赤色
    color: #ff0000;
}

//ボタン縦並び(今は使っていません)
.btn-wrapper {
    display: flex; /* 親要素に対してフレックスボックスを設定 */
    flex-direction: column;
    align-items: start; /* ADD */
    padding: 20px;
}

//横書き(今は使っていません)
.vertical {
    writing-mode: vertical-rl;
    font-family: monospace;
    right: 50%;
}

h1 {
    font-family: "Lato Bold 700";
    font-size: 2rem;
    color: #333;
}

li {
    font-family: Lato;
    font-size: 1.2rem;
}
button{
    color:#ffffff;
}
.main{
    margin-top: auto;
}
.switch {
    margin: 0 auto;
    width: 90%;
    text-align: center;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
  }
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }